PORT=3000
NODE_ENV=development
RATE_LIMIT_REQUEST: 10
DB_CONFIG="mongodb+srv://Test:<password>@cluster0.7rrox.mongodb.net/ino"
TWITTER_ACCESS_TOKEN="<access_token>"
PRIVATE_KEY="<private_key>"
JWT_SECRET="lakjskdlfouiouapsidf"
NETWORK="goerli"