PORT=3000
NODE_ENV=development
RATE_LIMIT_REQUEST: 10
DB_CONFIG="mongodb+srv://Test:<password>@cluster0.7rrox.mongodb.net/alpha"
PROD_DB_CONFIG="mongodb+srv://Test:<password>@cluster0.7rrox.mongodb.net/alpha"
TWITTER_ACCESS_TOKEN="<access_token>"
PRIVATE_KEY="<private_key>"
PRIVATE_KEY_MAINNET="<private_key>"
SOLANA_ADMIN_KEY="<solana_admin_key>"
SOLANA_RPC_MAINNET=""
SOLANA_RPC_DEVNET=""
SOLANA_MAINNET_ADDRESS=""
SOLANA_DEVNET_ADDRESS=""
JWT_SECRET="lakjskdlfouiouapsidf"
NETWORK="goerli or mainnet"
BET_CONTRACT_ADDRESS=
PROD_BET_CONTRACT_ADDRESS=
programId_main=DP6srmxonZFab1SNk7TxComaiN2NToxLJNUG1pVyPNa9
programId_dev=56y6AD5eUp4VdH5CcbWeuwtoiffSGKfV1zu7dUdawhKF
stakePoolId_main=5mUVMVYmevepcMr3yL7RDtW3ztosQCq8LxmJvaebAVXA
stakePoolId_dev=3ij7XAkC7FXsVt84nQ4rKVxfw9jaPNpVfuUH9HcrcUzD
abpMintPubkey_main=NxGcGqZ8FLpmDgJ35JK8xDivCo3EP3G5BbpBjE2cUQT
abpMintPubkey_dev=BonB8rnokgtdSe2HRuQZ4ZiZCbtos9sKdYwabgvNcPSp
SUPER_ADMIN_main=ESDR4cgsw3eVAZ8MdXndszL4p41Sw1MShYiZp27UDkyy
SUPER_ADMIN_dev=52UcVJFGTDXqy4mxQz9FWcN95qT653nBRCwFCevymrQz